<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
</head>

<body>
    <button>
        <a href="http://localhost:8080/api/products">inicio</a>
    </button>

    <h1>Carrito y pedidos</h1>
    <div id="noCartDiv" style="display: flex; justify-content: center">
        <h2>No tienes ningun pedido abierto, vamos a crear uno!</h2>
    </div>
    <div class="btnNC">
        <button id="btnNewCart">Nuevo pedido</button>
    </div>



    {{#if carts}}
    <div>
        <div class="contentCarts">
            {{#each carts}}
            <div class="contentPedido">
                <h2>Pedido N°:
                    <a href="http://localhost:8080/api/carts/{{this._id}}">{{this._id}}</a>
                </h2>

                <div class="divBtnUse">
                    <button class="btnUse" cart-id="{{this._id}}">Usar</button>
                    <button class="btnDeleteCart" cart-id="{{this._id}}">X</button>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    {{/if}}
</body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script type="module" src="/js/Home&Carts.js"></script>
<script type="module" src="/js/cart.js"></script>



</html>