<h1>¡Muchas gracias por tu compra!</h1>
<p>Su pedido fue comprado con exito, los envitamos a seguir explorando nuestra productos</p>
<button>
    <a href="http://localhost:8080/api/products">inicio</a>
</button>