@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Lobster&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* .lobster-regular {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
  } */
/* .playwrite-gb-s-<uniquifier> {
    font-family: "Playwrite GB S", cursive;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  } */
/* .poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
} */
/* 
 .afacad-flux-<uniquifier> {
  font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
 */

body {
  background: linear-gradient(90deg, #0700b8 0%, #00ff88 100%);
}

h1 {
  display: flex;
  font-family: "Lobster", sans-serif;
  font-size: 50px;
  font-weight: 400;
  font-style: normal;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
}
h3 {
  font-family: "Playwrite GB S", cursive;
  font-size: 25px;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
button {
  color: #ffff;
  border-radius: 5px;
  padding: 10px;
  border: none;
  background-color: #ff0081;
  box-shadow: 0 2px 25px #ff008280;
}
button:hover {
  background-color: #d8006c;
}

button a {
  color: #ffff;
  text-decoration: none;
}

p, label {
  font-family: "Afacad Flux", sans-serif;
  font-size: 18px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
.divPricCat {
  display: flex;
  justify-content: space-between;
}
.cat {
  color: #ff0081;
}
.price {
  font-weight: 800;
}
.divIpBtn {
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
  margin-bottom: 9px;
}
input[type="number"] {
  text-align: center;
  font-family: "Afacad Flux", sans-serif;
  font-size: 15px;
  font-weight: 600;
  border-radius: 8px;
  background-color: #da1577b9;
  border: none;
  color: #ffff;
  padding: 8px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAKUlEQVQYlWNgwAT/sYhhKPiPT+F/LJgEsHv37v+EMGkmkuImoh2NoQAANlcun/q4OoYAAAAASUVORK5CYII=)
    no-repeat center center;
  width: 2em;
  opacity: 0.5; /* shows Spin Buttons per default (Chrome >= 39) */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

.divBtnsCart {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.divBtnCart {
  display: flex;
  justify-content: flex-end;
  gap: 20px ;
  margin: 5px;
}

.bodyHome {
  display: flex;
  justify-content: space-around;
}

.contentFilter {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 90px;
  margin-right: 50px;
}
.contentFilter a {
  font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  text-decoration: none;
  color: black;
}
.contentFilter a:hover {
  color: #00ff88;
}
.contentFilter a:focus {
  color: #00ff88;
}
.contentFilter ul {
  list-style-type: none;
}
.contentProducts {
  margin-right: 100px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 50px;
}

.contentProd {
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  border-top-left-radius: 1px;
  border-bottom-right-radius: 1px;
  padding: 20px;
}

.content {
  display: flex;
}
.arrows {
  display: flex;
  justify-content: flex-end;
  gap: 10px ;
  border-radius: 8px;
  padding: 10px;
  background: #ffffff5b;
  box-shadow: 0 2px 25px #ffffff80;
  font-family: "Afacad Flux", sans-serif;
  margin: 20px;
}
.arrows a{
    text-decoration: none;
    color: #000000;
}
.detailProd {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contentCarts {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
}
.cardCart{
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    border-top-left-radius: 1px;
    border-bottom-right-radius: 1px;
    padding: 20px;
    margin: 20px;
}

.btnNC {
  display: flex;
  justify-content: center;
}
.divBtnUse {
  display: flex;
  justify-content: space-around;
}
.contentPedido {
  justify-self: center;
}
.contentPedido a{
    color: #000000;
}
.contentPedido a:hover{
    color: #00ff88;
}

.spanEmptyCart {
  display: flex;
  justify-content: center;
}
.divForm {
    display: flex;
    justify-content: center;
}
.options{
    display: flex;
    justify-content: center;
    gap: 20px   ;
}
.options button{
    background-color: #81316d;
}
.perfile{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.totalPrice {
    text-align: center;
    color: #ffff;
    font-size: 30px;
}
#cartEmptyFalse{
    display: flex;
    justify-content: center;
}
#cartEmptyTrue{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}